footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
}
.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.produkte img {
  height: 300px;
  margin-top: 15px;
}
.produktbilder {
  height: 400px;
  position: absolute;
  left: 40px;
}
.produktbeschreibung {
  width: 600px;
  position: absolute;
  top: 135px;
  left: 400px;
}
.kaufen {
  position: absolute;
  top: 380px;
  left: 400px;
}
details{
  background-color: gray;
  padding: 10px;
  font-size: 25px;
}
